body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

h1,
h2 {
    color: #007bff;
}

form label {
    font-weight: bold;
}

#regaloElegido {
    font-style: italic;
    font-weight: bold;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#regaloElegido.animate {
    animation: fadeIn 2s;
}

.center {
    text-align: center;
}
